.packages  
  padding: 40px 0 70px
  &__title
    font-weight: bold
    font-size: 36px
    line-height: 45px
    text-align: center
    text-transform: uppercase
  &-wrapper
    display: grid
    grid-template-columns: repeat(3, minmax(min-content, 1fr))
    grid-gap: 30px
    grid-auto-rows: minmax(500px, min-content)
  &-card
    position: relative
    &__img      
      min-height: 250px
      max-height: 500px
    &__label
      position: absolute
      top: 26px
      left: 0
      width: 95px
      height: 30px
      padding: 7px 11px
      font-weight: 600
      font-size: 12px
      line-height: 15px
      color: $light
      background-color: $primary
      border-radius: 0px 4px 4px 0px
    &__info
      margin-top: -4px
      border-radius: 0px 0px 8px 8px
